nav {
  width: 100%;
  opacity: 0.8;
  border-bottom: solid 1px rgb(225 228 232);
}
.nav_content_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 83.33%;
  margin-left: auto;
  margin-right: auto;
  padding: 12px 0px;
}
.nav_search_input {
  height: 35.6px;
  width: 384px;
  background-color: #f6f8fa;
  border-radius: 0.375rem;
  border: solid 1px rgb(225 228 232);
  font-weight: 100;
  line-height: 1.25rem;
  padding: 6px 28px;
}
.nav_search_input::placeholder {
  color: #9ca3af;
  font-weight: 100;
}
.nav_search {
  position: relative;
}
.nav_search label {
  position: absolute;
  left: 8px;
  font-size: 1.1rem;
  transform: translateY(40%);
  color: #6c737b;
}
.nav_body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav_notification {
  border-radius: 50%;
  border: solid 1px rgb(225 228 232);
  padding: 7px;
  width: fit-content;
  margin-left: 10px;
}
.nav_notification_icon_wrapper {
  width: 25px;
  height: 25px;
  position: relative;
}
.nav_notification_icon {
  font-size: 1.3rem;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
}
.nav_profile {
  border-radius: 50%;
  border: solid 1px rgb(225 228 232);
  padding: 7px;
  width: 41px;
  height: 41px;
  margin-left: 10px;
}
.nav_profile_img {
  width: 100%;
  height: 100%;
}
