@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
:root {
  --very-li-grey: #f6f8fa;
  --dk-grey: rgb(68 77 86, 0.9);
  --li-grey: #959da5;
  --md-grey: #79848e;

  --border-grey: rgb(225 228 232);
}
